body {

  
  box-sizing: border-box;
  background-color: black;
  color: white;

}



#map_canvas {
    width: 500px;
    height: 400px;
    background-color: black;
    float: right;
  }

img {
  width: 15%;
  padding: 5px;
  display: inline-block;
  float: left;
  clear: all;

}



#container{
  background-color: black;
  border-color:red;
  width: 700px;
}

.col1 { width: 80px; }
.col2 { width: 180px; }
.col3 { width: 280px; }
.col4 { width: 380px; }

